body{
  background: #fff;
  font-family: Roboto;
}
.tweetContainer{
  height: 480px;
  overflow: scroll;
}

.chatContainer {
    overflow: scroll;
    border: 1px solid #EEE;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chatInput{
  width: calc(100% - 60px)
}

.grey{
  background: #DDD;
}

.bold{
  font-weight: bold;
}
.tabs{
  cursor: pointer;
  float: right;
  transform: translateY(-19px);
  div{
    border: 1px solid #DDD;
    padding: 10px;
    display: inline;
  }
}
.activeTab{
  border-bottom: 1px solid white !important;
}